<div class="app-lightbox">
  <div class="portal"></div>
</div>

<script>
  const lbTriggers = document.querySelectorAll('[data-lightbox="true"]');
const lightbox = document.querySelector('.app-lightbox');
const portal = lightbox?.querySelector('.portal');

for (const trig of lbTriggers) {
  trig.addEventListener('click', () => {
    if (portal) {
      portal.innerHTML = trig.innerHTML;
    }

    setTimeout(() => {
      const img = portal?.querySelectorAll('img')[0];
      const ratio = (img?.naturalWidth ?? 0) / (img?.naturalHeight ?? 1);

      if (img) {
        img.sizes = `${window.innerHeight * ratio}px`;
      }
    }, 352);

    if (lightbox) {
      lightbox.classList.add('is-active');
    }
    document.documentElement.classList.add('scrollIsLocked');
  });
}

if (lightbox) {
  lightbox.addEventListener('click', () => {
    lightbox.classList.remove('is-active');
    document.documentElement.classList.remove('scrollIsLocked');
  });

  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape') {
      lightbox.classList.remove('is-active');
      document.documentElement.classList.remove('scrollIsLocked');
    }
  });
}
</script>
}
<style>
  .app-lightbox {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: zoom-out;
  background-color: var(--bg-color, hsl(0, 0%, 0%, 0.85));
  opacity: 0;
  transition: opacity 0.35s;

  &.is-active {
    pointer-events: initial;
    opacity: 1;
  }
}

:global([data-lightbox]) {
  cursor: zoom-in;
}

.portal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0.2);

  :global(img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .is-active & {
    transform: scale(1);
  }
}

</style>
